* {
  padding: 0;
  margin: 0;
}

/* buscar imagenes y mostrar */
.imgSearch{
  width: 100%;
}
body {
  background-image: url(../../assets/img/nasa-bg.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10vh;
}

#user-pic{
  display: inline-block;
  width: 40px;
  height: 40px;;
  background-size: cover;
  border-radius: 50%;
}

.signInContainer{
  width: 70vw;
  margin-top: 20vh;
}
/* --------------------------------- HEADER ----*/
header{
  height: 100%;
}
.card{
  border: #240950;
  background-color: rgba(255, 255, 255, 0.5);
}
.card-body{
  padding: 8vh 0;
}
.card-header, .card-footer{
  background-color: #240950;
}
/* --------------------------------- HEADER ----*/

#newsContainer{
  color: salmon;
  height: 100vh;
  padding-top: 10vh;
}

.newDiv{
  margin: 10vh 0;  
  border: 1px solid teal;
  background-color: rgba(255, 255, 255, 0.4);
}

.imgNews{
  width: 100%;
  margin-top: 1vh;
}

.btn {
  background-color: teal;
  border: 0.1vh solid teal;
  margin: 0 1vh;
}

.askNav{
  padding: 1vh;
  background-color: white;
  border-radius: 0.3vh;
}

.inputWord{
  height: 35px;
  border-radius: 0.3vh;
  border: 0.1vh solid grey;
}
