* {
  padding: 0;
  margin: 0;
}
/* buscar imagenes y mostrar */
.imgSearch{
  width: 100%;
}
body {
  background-image: url(../../assets/img/nasa-bg.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10vh;
}

/* ------------------------------ INICIO NAV ----*/
.navbar{
  background-color: #1da7a7;
}
.navbar-light .navbar-brand{
  padding: 1vh;
}
.navbar-light .navbar-brand, li a{
  color: red !important;
}
.navbar-light .navbar-brand:hover, li a:hover{
  background-color: #301472;
  border-radius: 0.5vh;
}
#user-pic{
  display: inline-block;
  width: 40px;
  height: 40px;;
  background-size: cover;
  border-radius: 50%;
}
#user-name{
  padding: 1vh;
}
.signInContainer{
  width: 70vw;
  margin-top: 20vh;
}
.btn-primary{
  color: white;
}
.btn-primary:hover{
  background-color: #301472;
}

/* ----------------------------------FIN NAV ----*/
/* ----------------------------INICIO HEADER ----*/
header{
  height: 100%;
}
.card{
  border: #301472;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}
.card-body{
  padding: 8vh 0;
}
.card-header, .card-footer{
  background-color: #301472;
}
/* ----------------------------- FIN HEADER ----*/

/* -----------------------------INICIO NEWS ----*/
#newsContainer{
  color: #1da7a7;
  height: 100vh;
  padding-top: 10vh;
}
.newDiv{
  margin: 10vh 0;  
  padding: 5vh;
  border: 1px solid #1da7a7;
  border-radius: 0.7vh;
  background-color: rgba(255, 255, 255, 1);
}
.newDiv a{
  color: #1da7a7;
}
.newDiv a:hover{
  color: #301472;
}
.newDiv h3, h5, h6{
  color: black;
}
.newDiv h5{
  font-size: 16px;
}
.newDiv h6{
  font-size: 14px;
}
.imgNews{
  width: 100%;
  margin: 5vh 0;
}
.btn {
  background-color: #1da7a7;
  border: 0.1vh solid #1da7a7;
  margin: 0 1vh;
}
.askNav{
  padding: 1vh;
  background-color: white;
  border-radius: 0.3vh;
}
.inputWord{
  height: 35px;
  border-radius: 0.3vh;
  border: 0.1vh solid grey;
}
.twitter iframe{
  margin-top: 10vh !important;
}

/* ------------------------------- FIN NEWS ----*/

/*************************************IMAGES*********/
.caption{
  padding: 1em;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}
.imgdiv{
  margin-top: 1em
}
.title2, .titleday{
  color: #1da7a7;
}
#searchPlanet{
  width: 60%;
  display: inline-block
}
.imgDay{
  display: block;
}
